<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=item.name%></title>
</head>
<body>
    <h2><%=item.name%></h2>
    <h3>Price: $<%=item.price%></h3>
    <h3>Quantity: <%=item.qty%></h3>
    <h3>id:<%=item.id%></h3>
    <form  action = "/update/<%=item.id%>">
        <button type="submit">update quantity</button>
    </form>    
</body>
</html>