<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>
    <h1>Update inventory</h1>
    <h2><%=data.name%></h2>
    <form method = "POST" action = "/update/<%=data.id%>">
        <label for = "name">Product Name</label>
        <input type = "text" value = "<%= data.name%>"" id = "name" name = "name">
        <select name = "category" id = "category">
            <% for (let x = 0; x<categories.length; x++) {%>
                <%if (categories[x].name == category[0].name) {%>
                    <option value = "<%= categories[x].id %>" selected = "selected" > <%= categories[x].name %></option> 
               <% } else {%>
             
                <option value = "<%= categories[x].id %>" > <%= categories[x].name %></option> 
                <%}%>
            <%}%>
        </select>
        
        <label for ="price">Unit Price</label>
        <input type = "number" value = "<%=data.price%>" step = "0.01" id = "price" name = "price">
        <label for = "qty">Quantity in Stock</label> 
        <input type = "number" value = "<%=data.qty%>" step = 1 id = "qty" name = "qty">
        <button type = "submit">Submit</button>
    </form>
</body>
</html>